extends ../layout

block content
        div.container
            .col-12
                .tile
                    form(action="/romsupdate", method="post").offset-4
                        .form-group
                            label(for="name") Nome
                            input.form-control.col-6(type="text", name="name",value=`${r.name}`)   
                        .form-group
                            label(for="gender") Gênero
                            select.form-control.col-6(name="gender")
                                option(value="0") 
                                each g in genders
                                    if r.gender_id == g.id
                                        option(value=`${g.id}`,selected) #{g.name}
                                    else
                                        option(value=`${g.id}`) #{g.name}
                        .form-group
                            label(for="console") Console
                            select.form-control.col-6(name="console")
                                option(value="0")
                                each c in consolers
                                    if r.console_id == c.id
                                        option(value=`${c.id}`,selected) #{c.name}  
                                    else
                                        option(value=`${c.id}`) #{c.name}           
                        .form-group
                            button.btn.btn-primary.offset-2(type="submit") Atualizar
                            input(type="hidden", name="id",value=`${r.id}`)   